[Unit]
Description=Prometheus exporter for Netweaver clusters metrics
After=network.target
Documentation=https://github.com/SUSE/sap_host_exporter

[Service]
Type=simple
Restart=always
ExecStart=/opt/exporter/sap_host_exporter/sap_host_exporter-amd64 --config /opt/exporter/sap_host_exporter/default.yaml
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
DefaultInstance=default
